:root {
  --fs-300: 0.5rem;
  --fs-400: 0.75rem;
  --fs-500: 0.9375rem;
  --fs-700: 1.5rem;
  --fs-900: 1.75rem;

  --bg-primary: hsl(233, 47%, 7%);
  --bg-secondary: hsl(244, 38%, 16%);

  --text-accent-500: hsl(277, 64%, 61%);

  --text-header-500: hsl(0, 0%, 100%);

   --text-primary-400: hsla(0, 0%, 100%, 0.6);
  --text-primary-500: hsla(0, 0%, 100%, 0.75);

  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Lexend Deca', sans-serif;
}

$desktop-size: 64em;

@media (min-width: $desktop-size) {
  :root {
    --fs-900: 2.25rem;
  }
}
